<!DOCTYPE html>
<html>
  <head>
    <title>TEST TITLE</title>
        <script js.src = "//connect.facebook.net/en_US/sdk/debug.js";></script>
        <script src="/javascripts/indexStyle.js" type="text/javascript"></script>
        <script src="/javascripts/landing.js" type="text/javascript"></script>
        <script src="/javascripts/article.js" type="text/javascript"></script>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body onresize="setSideDivs();setDimensions();">

  <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : 'your-app-id',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    
    {{{body}}}
  </body>
</html>
