
<head>  
<!--<title>{{title}}</title>-->
<title> TEST </title>
</head>
<body>
<h1> TEST HIER DER TEXT </h1>

<img src="/images/article_{{id}}/buzzImg_1.jpg"  alt="article {{id}}" height="500px" width="560px">

<!--<script>
    window.location.replace('/singleArticle/'+ {{id}});
</script>-->


</body>
