
user@ip-172-31-24-98 views]$ vim

  
<title>{{title}}</title>

<img src="/images/article_{{id}}/buzzImg_1.jpg"  alt="article {{id}}" height="500px" width="560px">

<script>
    window.location.replace('/singleArticle/'+ {{id}});
</script>
