
body {
    
    height: auto;
    width: 100%;
    //background-color: rgb(245,245,245);
    background-color:white;
    padding:0;
    margin:0;
}

.menue {
 
    width:100%;
    height:85px;
    background-color:rgba(0,0,0,0.85);
    position:fixed;
    top:0;
    z-index:200;
    //background-image: url('/images/menu_background.png');
    background-position: center;
    background-size: cover;
    
}
.footer{
    position: absolute;
    float: bottom;
    width: 100%;
    height: 400px;
    background-color: rgba(255,255,255,0.8);
    font-family: mySecondFont;
    //color: #2E2E2E;
    color :gray;
}
.footerText{
    width: 100%;
    height: auto;
    position: absolute;
    top: 100px;
    text-align: center;
}
.footerSection{
    width:94%;
    text-align:left;
    height: auto;
    position: absolute;
    top: 30px;
    padding: 3%;
}
.followUs{
    top:22%;
    position:absolute;
    width: 10%;
    height: 78%;
    background-color: clear;
    left: 1%;
    text-align:center;
    line-height: 25px;
    font-family: myFirstFont;
    font-size: 20px;
    color: white;
}
.followUsFacebook{
    position:absolute;
    width: 3.5%;
    height: 100%;
    background-color: clear;
    left: 12%;
    background-image:url('/images/followFacebook.jpg');
    background-size:cover;
    background-position:top;
    cursor: pointer;
    opacity:1;
}
div.followUsFacebook:hover{
    opacity:0.8;
}
.followUsTwitter{
    position:absolute;
    width: 3.5%;
    height: 100%;
    background-color: clear;
    left: 16%;
    background-image:url('/images/followTwitter.jpg');
    background-size:cover;
    background-position:top;
    cursor: pointer;
    opacity:1;
}
div.followUsTwitter:hover{
    opacity:0.8;
}
.clips{
    position:absolute;
    width: 3.5%;
    height: 100%;
    background-color: clear;
    right: 16%;
    background-image:url('/images/clips.jpg');
    background-size:cover;
    background-position:top;
    cursor: pointer;
    opacity:1;
}
div.clips:hover{
    opacity:0.8;
}
.smallLogoDiv {
 
    width:60px;
    height:60px;
    position:absolute;
   // background-image: url('/images/buzzMeLogoSmall.png');
    background-size:cover;
    margin-top:12px;
    left:50%;
    margin-left:-240px;
    
}

  .afilImg{

        height:200px;
    }

    .advertisemnetDiv {

        width:336px;
        height:280px;

     }

.logoDiv {
 
    height:60%;
    width:400px;
    position:absolute;
    //background-color:red;
    left:50%;
    margin-left:-200px;
    background-image: url('/images/buzzmeLogo3.2.png');
    background-size:cover;
    background-position:center;
    top:15px;
 
}
.music{
    position:absolute;
    width: 3.5%;
    height: 100%;
    background-color: clear;
    right: 12%;
    //background-image:url('/images/music.jpg');
    background-size:cover;
    background-position:top;
    cursor: pointer;
    opacity:0;
    overflow:hidden;
}
.playPause{
    position:absolute;
    width: 3.5%;
    height: 100%;
    background-color: clear;
    right: 12%;
    background-image:url('/images/music.jpg');
    background-size:cover;
    background-position:top;
    cursor: pointer;
    opacity:1;
    pointer-events: none;
}
div.playPause:hover{
    opacity:1;
}
.thinLine {
    float:top;
   height:1px;
   width:580px;
   background-color:gray;
   position:absolute;
   //top:72px;
   left:50%;
   margin-left:-290px;
 
}

.centralDiv {
    
    height: auto;
    width: 600px;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    
    left: 50%;
    margin-left: -300px;
    z-index:100;
    top: -50px;
    -webkit-overflow-scrolling: touch;

}

.article {
 
    height: 500px;
    width: 560px;
    //height: 525px;
    //width: 588px;
    
    position:relative;
    margin: 100px auto;
    background-size:cover;
    background-position: center;
    background-color: lightgray;
    margin-top:150px;
    margin-bottom:-20px;
}

.blurr {
    
    width:100%;
    height:100%;
    opacity:0;
    position:absolute;
    top:0px;
    right:0px;
    background-position:center;
    background-size: cover;
    cursor: url(/images/hand_cursor.png), pointer;

}

.articleTitle {
 
    height:150px;
    width:96%;
    padding-left:2%;
    padding-right:2%;
    background-color:rgba(0,0,0,0.8);
    color: white;
    font-family:myThirdFont;
    text-align:center;
    line-height:45px;
    font-size:35px;
    background-size:cover;
    background-position:top;
    position:absolute;
    z-index:100;
    top:0px;
 
}
h2 {
    margin-top: 0%;
    font-family:myFirstFont;
    font-weight: lighter;
    text-align:center;
    line-height:45px;
    font-size:35px;

}

.articleMenue {
    
    height:60px;
    width:100%;
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    bottom:0;

    z-index: 150;
}

.socialButton {
 
    width:48px;
    height:48px;
    background-color:lightseagreen;
    float:left;
    margin-right:6px;
    margin-top:6px;
    margin-bottom:6px;
    opacity:1;
    cursor: pointer;
 
}

div.socialButton:hover{
    opacity: 0.8;
    
}
div.signUpButton:hover{
    background-color:rgba(0,0,0,0.5);
    opacity:1;
    color: #007aff;
    
}
.leftDiv1 {
    
    overflow: hidden;
    height: 600px;
    width: 220px;
    //background-color: rgba(255,255,255,0.5);
    position:fixed;
    top:90px;
    bottom:15px;
    left:2vw;
    text-align: center;
    z-index:200;
}

.rightDiv1 {
    
    height: 500px;
    width: 220px;
    //background-color: rgba(255,255,255,0.2);
    position:fixed;
    top:200px;
    bottom:15px;
    line-height:100px;
    right:3vw;
    text-align: center;
    z-index:200;
}
.addDiv{
    
    cursor: default;
    background-color:white;
    opacity:0.95;
    width: 100%;
    position:absolute;
    top: 0px;
    height: 100%;
    font-family: arial;
    font-size: 30px;
    color:darkgrey

}
.googleContainer {
    
    height: 250px;
    //background-color: #007aff;
    background-color: rgba(255,255,255,0.2);
    position:relative;
    top:0px;
    bottom:15px;
    width: 70%;
    margin: 100px auto;
    //cursor: pointer;
    //border-style: solid;
    //border-color: rgba(0,0,0,0.8);
    //border-width: 2px;
    text-align:center;
    //overflow:hidden;
}
.googleContainerHeader{
    
    height:20%;
    width:100%;
    position:absolute;
    background-color: rgba(0,0,0,0.8);
    float:bottom;
    z-index: 300;
    font-size: 25px;
    color: white;
    font-family: myFirstFont;
    text-align:center;
    line-height: 50px;
    bottom:-50px;;

}
.addBlockPetitionRightUp{
    position: fixed;
    top: 180px;
    
    //background-color:rgba(0,0,0,0.5);
    background-image:url('/images/petitionBackground.jpg');
    background-size:cover;
    
    width: 115px;
    right: 75px;
    height: 160px;
    
    padding: 15px;
    padding-top: 40px;
    
    font-family: mySecondFont;
    font-size: 20px;
    color: white;
    text-align:center;
}
.addBlockPetitionRightDown{
    position: fixed;
    top: 450px;
    
    //background-color:rgba(0,0,0,0.5);
    background-image:url('/images/petitionBackground.jpg');
    background-size:cover;
    
    width: 115px;
    right: 75px;
    height: 160px;
    
    padding: 15px;
    padding-top: 40px;
    
    font-family: mySecondFont;
    font-size: 20px;
    color: white;
    text-align:center;
}

@font-face {  
    font-family: mySecondFont;
    src: url('/fonts/ClementePDag-Book.ttf');
}

@font-face {
    font-family: myFirstFont;
    src: url('/fonts/ClementePDac-ExtraLight.ttf');
}

@font-face {
    font-family: myThirdFont;
    src: url('/fonts/ClementePDae-Light.ttf');
}

.signUp {

    background-color: clear;
    opacity:1;
    position: absolute;
    width:100%;
    height:100%;
    top: 0%;
    text-align: center;
    
}

.article_1Link{
    
    position: absolute;
    width:600px;
    height:600px;
    left: 50%;
    margin-left:-300px;
    top:0px;
    background-image: url('/images/woman.jpg');
    background-size:cover;
    
    color:white;
    font-family:myFirstFont;
    text-align:center;
    line-height:50px;
    font-size:35px;
    font-weight:bold;
    background-size:cover;

}

.Button_1{
    
    position:absolute;
    top:10%;
    left: 50%;
    margin-left: -100px;
    width:200px;
    height:50px;
    background-color: blue;

}
.forward{
    position:absolute;
    right:0px;
    top: 0px;
    width:50%;
    height:100%;
    background-color:clear;
    opacity:0.5;
    cursor: url(/images/hand_cursor.png), pointer;
    background-size:contain;
    background-position:center;

}

.backward{
    position:absolute;
    left:0px;
    top: 0px;
    width:50%;
    height:100%;
    background-color:clear;
    opacity:0.5;
    cursor: url(/images/hand_cursor.png), pointer;
    background-size:contain;
    background-position:center;

}
div.forward:hover{
    opacity: 0.7;
}
div.backward:hover{
    opacity: 0.7;
}

.more{
    width:250px;
    height:48px;
    background-color:lightseagreen;
    float:right;
    margin-right:6px;
    margin-top:6px;
    margin-bottom:6px;
    opacity:0.7;
    cursor: pointer;
    background-image: url('/images/more.jpg');
    background-size:cover;
    background-position: center;

}
.more2{
    position: fixed;
    width:0;
}
div.more:hover{
    opacity:1;

}

.buttonImpressum{
    width: 200px;
    height: 50px;
    background-color:clear;
    position:absolute;
    //float: bottom;
    text-align: center;
    line-height:50px;
    font-family: arial;
    font-size:15px;
    color: #585858;
    cursor: pointer;
}
.impressum{
    top: 50px;
}
.home{
    left: 50px;
    width: 200px;
    height: 50px;
    background-color:clear;
    position:absolute;
    float: bottom;
    text-align: center;
    line-height:50px;
    font-family: arial;
    font-size:15px;
    color: gray;
    cursor: pointer;

}
div.home:hover{
    color: black;
}
div.buttonImpressum:hover{
    color: black;
}
.youtube{
    
    margin-top: 120px;
    position: relative;
    
}

.frameAmazone{
    
    margin-top: -35px;
    
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);

}

.litleHeader{
    top: 100px;
    background-color: clear;
    position: fixed;
    right: 1.8vw;
    font-family:mySecondFont;
    font-size:25px;
    color: rgba(0,0,0,0.8);
    width: 250px;
    text-align:center;
    z-index:300;
}

.getBuzzed{
    width: 60px;
    height: 60px;
    background-image: url('/images/getBuzzed.png');
    position:relative;
    margin: auto;
    top: 140px;
    background-size: cover;
    background-position:top;
    
}

@media only screen and (max-device-width: 800px) {
    
    .centralDiv {
        
        width: 100%;
        position:relative;
        left: 0;
        margin-left: 0;
        margin-top: 50px;
        background-color:transparent;
    }
    .getBuzzed{
        width: 200px;
        height: 200px;
        background-image: url('/images/getBuzzed.png');
        position:relative;
        margin: auto;
        top: 150px;
        background-size: cover;
        background-position:top;
        
    }

    .article {
        
        height: 880px;
        width: 100%;
        padding:0px;
    }
    
    .articleMenue {
        
        height:140px;
        width:100%;
        bottom:-1px;
    }
    
    .socialButton {
        
        width:110px;
        height:110px;
        margin-right:15px;
        margin-top:15px;
        margin-bottom:15px;
        opacity:1;
    }
    
    .articleTitle {
        
        top:-1px;
        font-family:mySecondFont;
        position:absolute;
        margin-top:0px;
        height:188px;
        width:96%;
        line-height:60px;
        //font-size:55px;
    }
    
    .menue {
        
        position: fixed;
        width:100%;
        height:140px;
        
    }
    
    .logoDiv {
        
        height:70%;
        width:76%;
        margin-left:-38%;
        background-position:center;
        top:15px;
        
    }
    
    body {
        
	background-color:white;
       //background-color: rgba(0,0,0, 0.85);
    }
    
    .forward{
        position:absolute;
        right:0px;
        top: 0px;
        width:50%;
        height:99%;
        
    }
    
    .backward{
        position:absolute;
        left:0px;
        top: 0px;
        width:50%;
        height:99%;
    }
    
    .thinLine {
        
        height:0;
    }
    .more{
        width:0;
        
    }
    .more2{
        position: relative;
        top: 55px;
        width:600px;
        height:120px;
        background-color:lightseagreen;
        margin: auto;
        //opacity:0.7;
        cursor: pointer;
        background-image: url('/images/more.jpg');
        background-size:cover;
        background-position: center;
    }
    .frameAmazone{
        height: 0px;
        width: 0px;
        
        -ms-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    .leftDiv1{
        width=0;
        opacity:0;
    }
    .rightDiv1{
        width=0;
        opacity:0;
    }
    
    .addBlockPetitionRightUp{
        width=0;
        opacity:0;
    
    }
    .addBlockPetitionRightDown{
        
        opacity:0;
        width=0;
    }
    .litleHeader{
        opacity=;
    }

    .googleContainerHeader {

	height:70px;
	margin:auto;
	position:relative;
	width:90%;
	font-size:50px;
	line-height:50px;
	font-family:myThirdFont;
	padding-top:20px;
    }

    .googleContainer {
        background-color:white;
	height:460px;
	//overflow:hidden;
	width:100%;
	margin-top:100px;
    }
    .buttonImpressum{
        
        width: 400px;
        height: 300px;
        line-height:250px;
        font-size:50px;
    }

    .afilImg{

	height:400px;
    }
	

    .advertisemnetDiv {

	width:900px;
	height:300px;
	margin-top:100px;
	margin:0;
	padding:0;
	left:-20px;
     }

   .article {
         
     	margin-bottom:0px;
	margin-top:170px;
   }

   h2 {
       font-weight: lighter;
       text-align:center;
       line-height:70px;
       font-size:70px;
       font-family:mySecondFont;
       //font-family: myThirdFont;
   }
   .followUsFacebook{
       width: 6%;
       left:4%
   }
   .followUsTwitter{
       width: 6%;
       left: 12%
   }
   .followUs{
       width:0;
       opacity:0;
   }
   .home{
       height:300px;
       line-height: 200px;
       font-size: 60px;
       left: 100px;
   }
   .impressum{
       top: 200px;
   }
   .footerText{
       top: 200px;
       font-size: 40px;
   }
   .footerSection{
       top:80px;
   }
   .music{
       width: 6%;
       right:4%
   }
   .playPause{
       width: 6%;
       right:4%
   }

}







